[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
datadotworld = {extras = ["pandas"], version = "*"}
pandas = "*"
requests = "*"
numpy = "*"
scipy = "*"
flask = "*"
scrapy = "*"
scrapy-wayback-machine = "*"
bs4 = "*"
csvwriter = "*"

[requires]
python_version = "3.8"
